<div class="lobby-container">
    <span class="close-btn" (click)="close()">&times;</span>

    @if (pending()) {
    <div class="waiting-overlay">
        <div class="waiting-box">

        <button class="close-btn-waiting-box" (click)="closePending()">&times;</button>

        <div class="loader"></div>
        <p>In attesa che l’altro giocatore accetti…</p>
        </div>
    </div>
    }

    <div class="game-card-container">

        @if (loading) {
            <p class="loading-message">Loading games...</p>
        } 
        
        @else if (games().length > 0) {

            @for (game of games(); track game.id_game) {

                @if (game.state === 'new' || game.state === 'waiting') {
                    <app-game-card
                        [id]="game.id_game"
                        [creator]="game.creator_nickname"
                        [data]="game.created_at"
                        [owner]="game.owner_nickname"
                        [state]="game.state">
                    </app-game-card>
                }
            }

        } @else {
            <p class="empty-message">No games found.</p>
        }

    </div>

    <div class="new-game-section">
        <a (click)="openRequestPage()"><button class="new-game-button">CREATE GAME</button></a>
    </div>
</div>
