<div class="game-card-container">
    <div class="info-game-card">
        <p id="id-game">Game ID: {{ id }}</p>
        <p id="game-creator">Creator: {{ creator }} </p>
        <p id="game-data-creation">
            {{ data | date:'dd/MM/yyyy HH:mm' }}
        </p>
    </div>
    <div class="body-game-card">
        <p id="owner"> Owner: {{ owner }}</p>
    </div>
    <div class="footer-game-card">
        <p class="game-status" [attr.data-state]="state"> {{ state }}</p>
        @if (state == 'new' || state == 'waiting') {
            <a (click)="sendGameRequest()"><button class="game-card-button">INVIA</button></a>
        }
    </div>
</div>
