p {
    font-family: 'Bowlby One SC', sans-serif;
    font-size: clamp(12px, 3vw, 20px);
}

.game-card-container {
    background-color: gainsboro;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 15px;
    border-bottom: 8px solid #e5a100; 

}

.info-game-card {
    display: flex;
    gap: clamp(15px, 3vw, 25px);
    border-bottom: 3px solid #e5a100; 
}

.footer-game-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game-status[data-state="new"] {
    background-color: blue;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

#game-status[data-state="active"] {
    background-color: #118A0A;
    color: white;
    border-radius: 30px;
    padding: 10px;
}

#game-status[data-state="waiting"] {
    background-color: rgb(218, 177, 17);
    color: white;
    border-radius: 30px;
    padding: 10px;
}

#game-status[data-state="finished"] {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 10px;
}


#game-card-button {
    background-color: #118A0A;
    color: white;
    font-family: 'Bowlby One SC', sans-serif;
    font-size: clamp(12px, 3vw, 20px);
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;   
    height: auto;         
    cursor: pointer;
}

