# LS-Tris Frontend Compose file

name: ls-tris-frontend-compose

services:

  frontend:
    container_name: ls-tris-frontend
    profiles: [prod] # This service will be started only in these profiles
    build:
      context: ../source-code/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports: # Maps <hostPort>:<containerPort>
      - 55502:3000
    networks:
      - frontend-network
    command: sleep infinity # Overrides default command so things don't shut down after the process ends.

networks:
  frontend-network: