# LS-Tris Frontend Compose file

name: ls-tris-frontend-compose

services:

  frontend:
    container_name: ls-tris-frontend
    profiles: [prod] # This service will be started only in these profiles
    build:
      context: ../source-code/frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports: # Maps <hostPort>:<containerPort>
      - ${PROD_FRONTEND_PORT:-55502}:80 # Port used to access frontend app (production mode). Default: 55502
    networks:
      - frontend-network
    environment:
      NG_APP_BRIDGE_ADDRESS: ${BRIDGE_ADDRESS:-localhost} # The address from the user browser
      NG_APP_BRIDGE_HTTP_PORT: ${PROD_BRIDGE_HTTP_PORT:-55504} # The port from the user browser
      NG_APP_BRIDGE_WS_PORT: ${PROD_BRIDGE_WS_PORT:-55505} # The port from the user browser

networks:
  frontend-network: