.signin-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #271E36;
    border: 4px solid #F7B725;
    border-radius: 8px;
    padding: clamp(16px, 4vw, 32px);
}

.signin-form input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.signin-form input:focus {
    border-color: #F7B725;
    border-width: 2px;
    outline: none;
}

.signin-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #118A0A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Bowlby One SC', sans-serif;
}

.signin-form-container {
    display: block;
    background-color: #F7B725;
    border-radius: 100%;
    padding: 8px;
    margin: 0 auto 16px auto;
}

.logo-image {
  max-width: clamp(60px, 10vw, 140px);
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}

.signin-form p {
    color: white;
    text-align: center;
    font-size: clamp(12px, 3vw, 20px);
    font-family: 'Bowlby One', sans-serif;
}
