@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

footer {
    background-color: #2A2438;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    border-radius: 30px;
    border-bottom: 8px solid #543F60; 
    font-family: 'Bowlby One SC', sans-serif;
}

.nav-links-footer p {
    font-size: clamp(14px, 4vw, 22px);
}

.nav-links-footer a {
    color: #F7B725;
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    transition: color 0.25s ease, transform 0.25s ease;
    transform-origin: center;
    cursor: pointer;
    border-bottom: 3px solid #E5A100; 
}

.nav-links-footer a:hover {
    color: #ECA937;
    transform: scale(1.1);
}