@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.logo-text { font-family: 'Bowlby One SC', sans-serif; }

:host {
  background: white !important;
  border: none;
}

.site-header { display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  align-items: center; 
  justify-content: space-between; 
  padding: 8px 12px; 
  background-color: #F7B725; 
  color: white; 
  border-radius: 30px; 
  border-bottom: 8px solid #e5a100; 
  box-shadow: none; }

.nav-links-header {
  display: flex;
  flex-direction: row;
  font-size: clamp(18px, 4vw, 30px);
  font-family: 'Bowlby One SC', sans-serif;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 8px;
}

.nav-links-header a {
  color: white;
  background: #2A2438;
  border-radius: 8px 8px 8px 8px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.25s ease, transform 0.25s ease;
  transform-origin: center;
  cursor: pointer;
}

.nav-links-header .active {
  color: #ECA937;
  font-weight: bold;
}

.nav-links-header a:hover { color: #ECA937; }

.logo img {
  max-width: clamp(60px, 10vw, 140px);
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}

#logout-btn {
  color: white;
  background: red;
  font-family: 'Bowlby One SC', sans-serif;
  font-size: clamp(18px, 4vw, 30px);
  border-color: red;
  border-radius: 8px 8px 8px 8px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.25s ease, transform 0.25s ease;
  transform-origin: center;
  cursor: pointer;
}

#logout-btn:hover { color: #ECA937; }



.logo img:hover { transform: scale(1.15); }

@media (min-width: 480px) {
  .nav-links-header a:hover { transform: none }
  .logo img:hover { transform: none }
}

@media (min-width: 768px) {
  .site-header { flex-wrap: nowrap; padding: 16px 32px; }
  .nav-links-header { width: auto; margin-top: 0; justify-content: flex-end; gap: 15px; }
  .logo img { max-width: 90px; }
  .nav-links-header a:hover { transform: scale(1.12); }
  #logout-btn:hover { transform: scale(1.12); }

}

@media (min-width: 1440px) {
  .site-header { padding: 20px 64px; }
  .nav-links-header { width: auto; margin-top: 0; justify-content: flex-end; gap: 20px; }
  .logo img { max-width: 140px; }
  .nav-link-header  a:hover { transform: scale(1.18); }
  #logout-btn:hover { transform: scale(1.12); }
}

