<header class="site-header">
  <div class="logo">
    <a routerLink="/" class="logo-link">
      <img src="/ls-games-logo.png" alt="Site Logo" class="logo-image">
    </a> 
  </div>

  <nav class="nav-links-header">
    @if (auth.isLoggedIn()) {
      <a [routerLink]="['/profile', auth.id]" routerLinkActive="active">Profile</a>
      <button id="logout-btn" (click)="logout()">Logout</button>
    } @else {
      <a class="login-link" (click)="openLogin()">Login</a>
      <a class="register-link" (click)="openSignUp()">Sign Up</a>
    }
  </nav>
</header>
