<header class="site-header">
  <div class="logo">
    <img src="/ls-games-logo.png" alt="Site Logo" class="logo-image"> 
  </div>

  <nav class="nav-links-header">
    @if (auth.isLoggedIn()) {
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/invitations" routerLinkActive="active">Requests<span class="badge">{{ auth.invites() }}</span></a>
      <button (click)="logout()">Logout</button>
    } @else {
      <a routerLink="/auth/login" routerLinkActive="active">Login</a>
      <a class="register-link" (click)="openModal()">Sign In</a>
    }
  </nav>
</header>
