<div class="game-page">
  
  <div class="game-summary">
      <p class="round-players-nickname"> {{player1Nickname()}} </p>
      <p class="round-players-nickname"> {{player2Nickname()}} </p>
  </div>

  <app-board
    [board]="board()"
    (move)="handleMove($event)"
  ></app-board>

  @if (this.winner()) {
  <div class="game-status">
    @if (this.winner() === this.mySimbol()) {
      <p id="win-text">🏆 YOU WON!</p>
      <button class="round-end-button">CERCA UN NUOVO AVVERSARIO</button>
    } @else if (this.winner() !== this.mySimbol()) {
      <p id="lose-text"> 😢 YOU'VE LOST </p>
      <button (click)="toHomePage()" class="round-end-button">TORNA ALLA HOMEPAGE</button>
    } @else {
      <p>🤝 Pareggio!</p>
      <button>RIGIOCA</button>
    }
  </div>
}

</div>
