<div class="game-page">
  
  <div class="game-summary">
      <p class="round-players-nickname"> {{player1Nickname()}} </p>
      <p class="round-players-nickname"> {{player2Nickname()}} </p>
  </div>

  <app-board
    [board]="board()"
    (move)="handleMove($event)"
  ></app-board>

  @if (roundEnded()) {
    <div class="game-status">

        @if (winner() === mySimbol()) {
          <p id="win-text">🏆 YOU WON!</p>
          <button (click)="newGameAfterWin()" class="play-again-button">CERCA UN NUOVO AVVERSARIO</button>
          <button (click)="gameEndAfterWin()" class="round-end-button">TERMINA PARTITA</button>
        } @else if(winner() !== null && winner() !== mySimbol()){
          <p id="lose-text"> 😢 YOU'VE LOST </p>
          <button (click)="toHomePage()" class="round-end-button">TORNA ALLA HOMEPAGE</button>
        } @else {
          <p id="draw-text">🤝 YOU TIED THE GAME!</p>
          <button (click)="rematch()" class="rematch-button">REMATCH</button>
          <button (click)="toHomePage()" class="round-end-button">TORNA ALLA HOMEPAGE</button>
        }

    </div>

  } 

</div>
