.game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

    .game-summary {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 40px;
        font-size: 22px;
        margin-bottom: 20px;

        p {
        margin: 0;
        font-family: 'Bowlby One SC', sans-serif;
        color: black;

          &.round-players-nickname {
            font-size: clamp(40px, 3vw, 125px);
          }

        }
    }
}


